<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="/js/jquery/jquery-3.4.0.min.js"></script>

    <script th:inline="javascript" type="text/javascript">
    function test() {
        var params = {
            "id":"123",
            "name":"ceshi"
        };
        debugger;

        $.ajax({
            type: "POST",
            url: "/user/test",
            data:JSON.stringify(params),//json序列化
            datatype:"json", //此处不能省略
            //此处不能省略 明确的告诉服务器发送的内容是json，而默认的contentType是application/x-www-form-urlencoded; charset=UTF-8
            contentType: "application/json; charset=utf-8",
            success:function(data){
                alert(data.name);
            },
            error:function(data){
                alert(1)
            }
        });
    }

    </script>
</head>
<body>
<table border="1">
    <tr>
        <td colspan="3">
            <button  th:onclick="test()" >测试按钮</button>
        </td>

    </tr>
    <tr>
        <th>姓名</th>
        <th>编码</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>密码</th>
    </tr>
    <tr th:each="entries,stat:${users}">
        <td th:text="${entries['user_name']}"></td>
        <td th:text="${entries['user_code']}"></td>
        <td th:text="${entries['user_email']}"></td>
        <td th:text="${entries['user_phone']}"></td>
        <td th:text="${entries['user_password']}"></td>
    </tr>

</table>
</body>
</html>