<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>天气情况</title>
    <script src="/js/jquery/jquery-3.4.0.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script  th:inline="javascript" type="text/javascript">
        debugger;
        var s = /*[[${cs}]]*/'aa';
       alert(s.name)
        document.getElementById(test).innerHTML("aaa")
    </script>

</head>

<body>
<ul >
    <li>
        <p>首页</p>
        <p th th:text="null">test</p>
    </li>
    <li ><a  href="https://www.baidu.com">链接地址</a></li>
</ul>
<ol>
    <table>
        <tr>
            <th>测试</th>
            <th>测试</th>
            <th>测试</th>
            <th>测试</th>
            <th>测试</th>
        </tr>
        <div>
            <input  th:id="test" th:value="cs"/>

        </div>
        <tr >
            <td th:text="cs.cityid"></td>
        </tr>
    </table>

</ol>

</body>
</html>